    /*
    Flaticon icon font: Flaticon
    Creation date: 22/04/2020 05:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-web-programming:before { content: "\f100"; }
.flaticon-online-shop:before { content: "\f101"; }
.flaticon-computer:before { content: "\f102"; }
.flaticon-joomla-logo:before { content: "\f103"; }
.flaticon-startup:before { content: "\f104"; }
.flaticon-social-media:before { content: "\f105"; }
.flaticon-vector:before { content: "\f106"; }
.flaticon-reservation:before { content: "\f107"; }
.flaticon-wrench:before { content: "\f108"; }
.flaticon-b2b:before { content: "\f109"; }
.flaticon-results:before { content: "\f10a"; }
.flaticon-assets:before { content: "\f10b"; }
.flaticon-plane:before { content: "\f10c"; }
.flaticon-notes:before { content: "\f10d"; }
.flaticon-building:before { content: "\f10e"; }
.flaticon-classified:before { content: "\f10f"; }
.flaticon-interview:before { content: "\f110"; }
.flaticon-cloud-storage:before { content: "\f111"; }
.flaticon-downloading:before { content: "\f112"; }
    
    $font-Flaticon-web-programming: "\f100";
    $font-Flaticon-online-shop: "\f101";
    $font-Flaticon-computer: "\f102";
    $font-Flaticon-joomla-logo: "\f103";
    $font-Flaticon-startup: "\f104";
    $font-Flaticon-social-media: "\f105";
    $font-Flaticon-vector: "\f106";
    $font-Flaticon-reservation: "\f107";
    $font-Flaticon-wrench: "\f108";
    $font-Flaticon-b2b: "\f109";
    $font-Flaticon-results: "\f10a";
    $font-Flaticon-assets: "\f10b";
    $font-Flaticon-plane: "\f10c";
    $font-Flaticon-notes: "\f10d";
    $font-Flaticon-building: "\f10e";
    $font-Flaticon-classified: "\f10f";
    $font-Flaticon-interview: "\f110";
    $font-Flaticon-cloud-storage: "\f111";
    $font-Flaticon-downloading: "\f112";